services:

  # ------ Kafka ------

  kafka:
    image: confluentinc/confluent-local:7.4.3
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092" # for client connections
      - "9101:9101" # JMX
    restart: unless-stopped
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      CLUSTER_ID: 'K0EA9p0yEe6MkAAAAkKsEg'

  kafka-init-topics:
    image: confluentinc/confluent-local:7.4.3
    container_name: kafka-init-topics
    depends_on:
      - kafka
    command: "bash -c \
                'kafka-topics --create --topic telemetry.sensors.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092 && \
                kafka-topics --create --topic telemetry.snapshots.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092 && \
                kafka-topics --create --topic telemetry.hubs.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092'"
    init: true

  # ------ База данных ------

  db:
    image: postgres:16.1
    container_name: postgres
    ports:
      - "6543:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=smart_home
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10

  # ------ Сервисы инфраструктуры ------

  discovery-server:
    container_name: discovery-server
    build: ./infra/discovery-server
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 12s

  config-server:
    container_name: config-server
    build: ./infra/config-server
    environment:
      - SERVER_PORT=8762
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    depends_on:
      discovery-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8762/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: on-failure

  gateway:
    container_name: gateway
    build: ./infra/gateway
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
    restart: on-failure

  # ------ Сервисы коммерции ------

  shopping-store:
    container_name: shopping-store
    build: ./commerce/shopping-store
    ports:
      - "8763:8763"
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - POSTGRES_HOST=db
      - SERVER_PORT=8763
    depends_on:
      db:
        condition: service_healthy
      config-server:
        condition: service_healthy
    restart: on-failure

  shopping-cart:
    container_name: shopping-cart
    build: ./commerce/shopping-cart
    ports:
      - "8764:8764"
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - POSTGRES_HOST=db
      - SERVER_PORT=8764
    depends_on:
      db:
        condition: service_healthy
      config-server:
        condition: service_healthy
    restart: on-failure

  warehouse:
    container_name: warehouse
    build: ./commerce/warehouse
    ports:
      - "8765:8765"
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - POSTGRES_HOST=db
      - SERVER_PORT=8765
    depends_on:
      db:
        condition: service_healthy
      config-server:
        condition: service_healthy
    restart: on-failure

  order:
    build: ./commerce/order
    container_name: order
    ports:
      - "8766:8766"
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - POSTGRES_HOST=db
      - SERVER_PORT=8766
    depends_on:
      db:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8766/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
    restart: on-failure

  payment:
    build: ./commerce/payment
    container_name: payment
    ports:
      - "8767:8767"
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - POSTGRES_HOST=db
      - SERVER_PORT=8767
    depends_on:
      db:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8767/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
    restart: on-failure

  delivery:
    build: ./commerce/delivery
    container_name: delivery
    ports:
      - "8768:8768"
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - POSTGRES_HOST=db
      - SERVER_PORT=8768
    depends_on:
      db:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8768/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
    restart: on-failure

    # ------ Сервисы телеметрии ------

  collector:
    build: ./telemetry/collector
    container_name: telemetry-collector
    depends_on:
      - kafka
      - config-server
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - SERVER_PORT=8769
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    ports:
      - "8769:8769"
      - "59091:59091" # gRPS server port
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8769/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
    restart: on-failure

  aggregator:
    build: ./telemetry/aggregator
    container_name: telemetry-aggregator
    depends_on:
      - kafka
      - config-server
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - SERVER_PORT=8770
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    ports:
      - "8770:8770"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8770/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
    restart: on-failure

  analyzer:
    build: ./telemetry/analyzer
    container_name: telemetry-analyzer
    depends_on:
      - kafka
      - db
      - config-server
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - POSTGRES_HOST=db
      - SERVER_PORT=8771
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    ports:
      - "8771:8771"
      - "59090:59090" # gRPS client port
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8771/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
    restart: on-failure